body {
    background-image: url(assets/edouard-tamba-Q8gsXy6C2g0-unsplash.jpg);
    background-size: cover;
    margin: 0;
    font-family: "Scheherazade",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #f8f8ff;
    text-align: left;
}

.nav-link {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 8px;
}

.navbar-dark .navbar-brand {
    color: #f8f8ff;
    font-family: "Lexend Zetta", sans-serif;
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #c05957;
}

body .container {
    margin-top: 30px;
    width: 800px;
}

.h1, h1 {
    font-size: 1rem;
    font-family: "Lexend Zetta", sans-serif;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #345386;
    border: 1px solid #0d344a;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}